{% extends 'base.html.twig' %}

{% block title %}Program index{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ programs|length }} programmes</h1>
        <a href="{{ path('program_new') }}">Create new</a>
        <div class="row">
            {% for program in programs %}
            <div class="col-3">
                <a href="{{ path('program_show', {program: program.slug}) }}">
                    {% if program.poster is not null %}
                        <img src="{{ program.poster }}" style="width:100%"/>
                    {% else %}
                        <img src="https://underscoremusic.co.uk/site/wp-content/uploads/2014/05/no-poster.jpg"
                             style="width:100%"/>
                    {% endif %}
                        <h3>{{ program.id }} / {{ program.title }} - {{ program.category.name }} </h3>

                        <p>{{ program.summary }}</p>
                        <a href="{{ path('email_notify', {program:program.id}) }}">email preview</a>
                        <a href="{{ path('program_show', {program: program.slug}) }}">show</a>
                        <a href="{{ path('program_edit', {program: program.slug}) }}">edit</a>
                        <a href="{{ path('program_delete', {program: program.slug}) }}">delete</a>
                </a>
            </div>
                {% else %}
                    <div class="col-3">
                        <h2>no records found</h2>
                    </div>

                {% endfor %}


            <a href="{{ path('program_new') }}">Create new</a>
        </div>
    </div>





{% endblock %}
