{% extends 'base.html.twig' %}

{% block title %}Program{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ program.title }}</h1>
        <p>{{ program.summary }}</p>
        <img src="{{ program.poster }}"/>
        <h3>Saisons</h3>
        {% for season in program.seasons %}
        <div class="col-3">
            <a href="{{ path('season_show', {id: season.id}) }}"><li>{{ season.number }} - {{ season.year }}</li></a>
        </div>
        {% endfor %}
        <h3>Acteurs :</h3>
        <div class="row">
        {% for acteurs in program.actors %}

                <div class="col-3">
                    <a href="{{ path('actor_show', {id:acteurs.id}) }}"><p>{{ acteurs.name }} {{ acteurs.lastname }}</p></a>
                    <img src="{{ acteurs.image }}"/>
                </div>
        {% endfor %}
        </div>
        <a href="{{ path('program_index') }}">back to list</a>

        <a href="{{ path('program_edit', {'id': program.id}) }}">edit</a>
    </div>

    {{ include('program/_delete_form.html.twig') }}
{% endblock %}
