{% extends 'base.html.twig' %}

{% block title %}Actor index{% endblock %}

{% block body %}
    <div class="container">
    <h1>{{ actors|length}} actors</h1>
        <a href="{{ path('actor_new') }}">Create new</a>
        <div class="row">
            {% for actor in actors %}
                <div class="col-2">

                    <a href="{{ path('actor_show', {actor:actor.slug}) }}"><img style="width:100%;" src="{{ actor.image }}"/> </a>
                    <p>{{ actor.name }} {{ actor.lastname }} </p>
                    <p>Séries</p>
                    {% for appearance in actor.programs %}
                    <li>{{ appearance.title }}</li>
                    {% endfor %}</p>
                </div>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
        </div>


    <a href="{{ path('actor_new') }}">Create new</a>
    </div>
{% endblock %}
