{% extends 'base.html.twig' %}

{% block title %}Actor{% endblock %}

{% block body %}
    <div class="container">
        <div class="col">
            <h1>{{ actor.name }} {{ actor.lastname }}</h1>
            <p>Séries :</p>
            {% for program in actor.programs %}
                <a href="{{ path('program_show', {program:program.slug}) }}">
                    <li>{{ program.title }}</li>
                </a>
            {% endfor %}
            <a href="{{ path('actor_index') }}">back to list</a>
            <a href="{{ path('actor_edit', {actor: actor.slug}) }}">edit</a>
            <a href="{{ path('actor_delete', {actor: actor.slug}) }}">delete</a>
        </div>
    </div>
    {{ include('actor/_delete_form.html.twig') }}
{% endblock %}
